%full-width {
    width: 100%;
    display: block;
}
%reset-spacing {
    margin: 0;
    padding: 0;
}

.fullwidth {
    @extend %full-width;
}

.link {
    text-decoration: underline;
    color: lightcoral;
    cursor: pointer;
}
.link:hover {
    color: lightblue;
}