@use "classes";
@use "RecentBills";

body {
    @extend %reset-spacing;
    font-family: Arial, Helvetica, sans-serif;
}

#audit-congress-react-root {
    @extend %full-width;
    background-color: white;
    height: 100%;
}

.site-header {
    @extend %full-width;
}

.list-view {

}

.detailed-view {

}